<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>
<body>
    <h1>qugrfh</h1>
</body>
<%- include('./partials/footer.ejs')%>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Login</th>
        </tr>
        <% membros.forEach(membro => { %>
        <tr>
            <td><%= membro.nome%></td>
            <td><%= membro.email%></td>
            <td><%= membro.login%></td>
            <td>
                <a href="/<%=membro.id %>" class="btn btn-success">Editar</a>
                <a href="#" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
        <%});%>
    </thead>
</table>
